@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,300;8..144,400;8..144,500;8..144,700;8..144,800;8..144,900&display=swap');

.footer ul {
    list-style: none;
}

.footer a {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

.footer {
    background-color: #e11937;
    color: #fff;
    font-family: 'Roboto Flex', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 400px;
}

.header-footer {
    display: flex;
    justify-content: space-around;
    margin: 35px 0px 30px 0px;
}

.representante {
    border: 4px solid #fff;
    border-radius: 50px;
    font-size: 1.5rem;
    font-weight: 900;
    display: flex;
    align-items: center;
    padding: 0px 20px;
}

.representante:hover {
    border: 4px solid #000;
    color: #000;
    text-decoration: none;
}

.contato {
    font-size: 1.5rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 20px;
}

.contato i {
    font-size: 1.8rem;
}

.contato i:hover {
    color: #000;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}

.footer-container a:hover, 
.entre:hover {
    color: #000;
    text-decoration: underline;
}

.footer-logo {
    display: flex;
    align-items: center;
}

.footer-info li {
    margin-bottom: 16px;
    font-size: 1.5rem;
}

.wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-title {
    font-size: 1.25rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 5px;
}

.bandeiras,
.envio-mobile,
.envio-desk {
    border-top: 1px solid #fff;
    padding: 5px;
}

.envio-mobile {
    display: none;
}

.bandeiras {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 15px;    
}

.bg-black {
    width: 100%;
    height: 100px;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 10px;
}

.bg-black img {
    height: 55px;
}

.footer-copy {
    text-align: center;
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 300;
    margin-top: 20px;
}

@media screen and (max-width: 768px) {
    .footer {
        height: auto;
    }

    .footer-container,
    .footer-logo {
        flex-direction: column;
        justify-content: center;
    }

    .footer-info {
        text-align: center;
    }
    
}

@media screen and (max-width: 425px) {
    .header-footer{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .footer-info li {
        font-size: 1.3rem;
    }

    .representante {
        font-size: 1.3rem;
    }

    .footer-title {
        margin-top: 15px;
    }

    .envio-desk {
        display: none;
    }

    .envio-mobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .envio-mobile img + img {
        width: 330px;
    }

    .bandeiras {
        flex-wrap: wrap;
        justify-content: center;
    }

    .bg-black {
        height: 70px;
    }
}

@media screen and (max-width: 395px) {
    .footer-title {
        font-size: 1.15rem;
    }

    .bandeiras,
    .envio-mobile {
        width: 370px;
    }
}

@media screen and (max-width: 375px) {
    .representante, .contato {
        font-size: 1.2rem;
    }

    .envio-mobile img + img {
        width: 360px;
    }
}

@media screen and (max-width: 320px) {
    .footer {
        width: 340px;
    }
    .representante, .contato a {
        font-size: 1.05rem;
    }

    .footer-info li {
        font-size: 1.1rem;
    }

    .envio, .envio-mobile, .bandeiras {
        width: 310px;
    }

    .envio-mobile img + img {
        width: 300px;
    }

    .bandeiras{
        grid-template-columns: repeat(3, 1fr);
    }
}